@import "./variables.css";

.navbar {
  padding: 10px 20px !important;
  position: fixed !important;
  display: flex;
  justify-content: space-between;
  background-color: var(--theme-color-2);
  width: 100%;
  z-index: 3;
}
.navbar .side-brand {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
}
.navbar .navbar-brand .first-letter {
  color: #714b67 !important;
  font-weight: 600;
}
.navbar .navbar-brand {
  color: var(--theme-color-3) !important;
  font-size: 24px !important;
  font-family: cursive;
  font-weight: 200;
}
.card {
  font-size: 12px;
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar .nav-elements {
    position: absolute;
    right: 0;
    top: 1px;
    color: var(--theme-color-3) !important;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in !important;
    overflow: hidden;
    z-index: 100;
  }

  .navbar .nav-elements.active {
    width: 270px;
  }

  .navbar .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .navbar .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
.navbar .sidebar-button {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: var(--neutral--200);
}
.navbar .cancel-button {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 0px;
  color: var(--theme-color-3);
}
.navbar .sidebar-show {
  display: block;
  position: relative;
  padding-top: 10px;
  /* margin-top: 20px; */
  height: 100vh;
  width: 50%;
  position: absolute;
  z-index: 100;
  background: var(--background-color);
  top: 0;
  left: 0;
  transition: 0.5s ease;
}
.navbar ul {
  list-style: none;
}
.navbar .nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  transition: 0.5s ease;
  margin: 0;
  color: var(--neutral--200);
  font-size: 14px;
}
.navbar .nav-list li {
  margin-left: 10px;
  margin-right: 10px;
}
.navbar .sidebar-notshow {
  width: 0; /* Add this line to smoothly transition the width */
  /* display: none !important; */
  position: relative;
  overflow: hidden;
}
.navbar .notshow {
  display: none;
}
.navbar .navbar-list {
  display: flex;
}
.navbar .side-list {
  padding: 10px !important;
}
.navbar .side-list li {
  text-align: start;
  margin: 10px 0 !important;
  padding: 10px 20px !important;
  color: var(--secondary-color);
  transition: all 0.3s ease;
  font-weight: bold;
  border-radius: 20px;
}
.navbar .side-list a {
  text-decoration: none;
  color: inherit;
}
.nav-link {
  color: var(--theme-color-3) !important;
}

.navbar .username {
  color: var(--mdb-info);
  text-transform: capitalize;
  text-shadow: 2px 2px 4px rgb(170 170 170 / 48%);
}
