.requirments {
  position: relative;
}
.add-req {
  position: absolute;
  right: 10px;
  top: 8px;
  background: var(--color-grey-700);
  border-radius: 20px;
  color: var(--color-grey-200) !important;
  padding: 0 10px !important;
  font-size: 14px;
}
.add-req:hover {
  background: var(--color-grey-500) !important;
  color: var(--color-grey-200) !important;
}

.add-requirement {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  background-color: var(--secondary--color-1);
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(211, 211, 211, 0.5) !important;
}

.add-requirement .field {
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: var(--color-grey-100) !important   ;
}
.add-requirement .field input {
  color: var(--color-custom-1);
  border-radius: 5px;
  outline: none;
  border: solid 2px var(--color-grey-300);
  background-color: var(--color-grey-200);
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 12px;
  transition: all 0.2s ease;
}

.add-requirement select {
  color: var(--color-custom-1);
  height: 35px;
  font-size: 14px;
}

.req-way {
  display: flex;
  padding: 10px;
}
.req-way-link {
  margin: 10px;
}

.req-way-link i {
  font-size: 100px;
}
.req-way-link p {
  text-align: center;
}
.add-file {
  width: 50%;
  background: var(--secondary--color-1);
  padding: 25px;
  border-radius: 14px;
}
